<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Strength Checker</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#password').on('input', function() {
                var password = $(this).val();
                
                if (password) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "check_password_strength" %}',
                        data: {
                            'password': password,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            $('#password_strength').text(response.result);
                        }
                    });
                } else {
                    $('#password_strength').empty();
                }
            });
        });
    </script>
</head>
<body>
    <h1>Password Strength Checker</h1>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <div id="password_strength"></div>
</body>
</html>