{% extends 'base/base.html' %}
{% block content %}
<style>
  .container {
    max-width: 800px;
  }

  .card {
    border-radius: 20px;
  }

  .card-title {
    margin-bottom: 0;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .password-output {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .copy-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .generate-btn {
    border-radius: 20px;
  }

  @media only screen and (max-width: 576px) {
    .card {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    #nonesense {
      display: none;
    }
  }
  .mtttt{
    margin-top:100px;
  }
</style>
<div class="container mt-5">
  <div class="row justify-content-center mtttt">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Password Strength cheker</h5>
          <div class="input-group mb-3">
            <!-- Password input container -->
            <div class="input-group-prepend">
              <!-- <span class="input-group-text bg-secondary text-white" id="nonesense">Password</span> -->
            </div>
            <input type="text" class="form-control password-output mt-4" placeholder="Enter Password" id='passwordsc'>
            
          </div>
          <!-- password strength output -->
          <div id="password_strength"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#passwordsc').on('input', function() {
            var password = $(this).val();
            
            if (password) {
              if (password.length >= 8){
                $.ajax({
                    type: 'POST',
                    url: '{% url "checking" %}',
                    data: {
                        'password': password,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#password_strength').text(response.result);
                    }
                });
            } else {
                $('#password_strength').text('must be 8 character long or more');
            }}else{
              $('#password_strength').empty()
            }
        });
    });
</script>
  {% endblock content %}