{% extends 'base/base.html' %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  .input {
  
  margin-bottom : 20px;
  margin-left : 30px;
  outline:none;
  
  }
  .btn{
    border : 1px solid black; 
  }
  .btn:hover {
    background-color: #75C2F6;
  }
  body {
    display : flex;
    justify-content: center;
    align-items:center;
  }
  .contain {
    margin-top:120px;
    width : 700px ;
  }
  table td + td { border-left:2px solid red; }
  </style>
  </head>
  <body>
  <div class='contain'>
  <a href = {% url 'addpass' %} style='text-decoration:none;'><button type='button' class='btn'>Add a password</button></a>
  <input type='search' placeholder='search'  class='input'>
  
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Name</th>
        <th>Password</th>
      
      </tr>
      {% for i in pass %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.passwd}}</td>
      </tr>
        {% endfor %}
    </table>
  </div>
  </div>
{% endblock content %}